
.Pulseiras{
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    flex-wrap: wrap;
    gap: 30px;
    /* width: 100%; */
    padding: 10px;
    /* margin-top: 1rem;*/

}

.card{

    display: flex;
    flex-direction: column;
    border-radius: 20px;

    background: rgb(133, 1, 1);
    padding: 1rem;
    text-align: center;
}



.card p{
    font-size: 20px;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
}

.card img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

#Comidas img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


@media(max-width:400px){

    .Pulseiras{
        grid-template-columns: repeat(1, 1fr);
    }
}