.Pulseiras {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    flex-wrap: wrap;
    gap: 30px;
    /* width: 100%; */

    /* margin-top: 1rem;*/
    padding: 20px;
    margin: 20px;
}

.card {

    display: flex;
    flex-direction: column;
    border-radius: 20px;

    background: rgb(133, 1, 1);
    padding: 1rem;
    text-align: center;
}




.card p {
    font-size: 20px;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    width: 100%;
    height: 100%;
}

.card img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: cover;
}

#Comidas img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}


.card-filme {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background: rgb(133, 1, 1);
    padding: 1rem;
    text-align: center;
    height: 80%;
    position: relative;
    width: 100%;
}


.card-filme p{
    font-family: "Bona Nova SC", serif;
    overflow: auto;
}

.card-filme img {

    width: 100%;
    border-radius: 20px;
    height: 100%;
    object-fit: fill;
    
}

.card-filme:hover > .sumido:nth-child(2){
    backdrop-filter: blur(30px);
    visibility: visible;
    transition: .6s left;
    transform-origin: bottom;
    cursor: pointer;
}
.sumido{

position: absolute;
top: 0%;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 97%;
left: 0;
visibility: hidden;
transition: .2s left;
border-radius: 20px;
}

.filmes p,b{
    font-size: 100%;

}
.filmes {
    justify-items: center;
    align-items: center;
    place-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    flex-wrap: wrap;
    gap: 50px;
    /* width: 100%; */

    /* margin-top: 1rem;*/
    padding: 30px;
    height: 30%;
}



@media(max-width:430px) {

    .Pulseiras {
        grid-template-columns: repeat(1, 1fr);
    }

    
    .filmes {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-filme{
        height: 100%;
    }

    .card-filme img{
        height: 100%;
    
    }

    #nozes{
        margin-top: 70%;
        gap: 50px;
    }
}