
html{
   scroll-behavior: smooth;
   
}
body{
    /*background-color: rgb(139, 34, 49);*/
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    font-family: "Pinyon Script", cursive;
}

h1{
    font-size: 40px;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}   

section{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 100vh;

    margin: auto;
    /* margin-left: 15%; */
    padding: 0 0px 0 0px;

}
nav ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 10px;
    align-items: center;
    justify-content: end;
    padding: 0 20px 0px 0;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    letter-spacing: 2px;
    transition: .3s ;
    text-align: start;
    font-size: 20px;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
}

a:hover{
    text-decoration: none;
    color: white;

    filter: drop-shadow(5px 5px 3px rgb(182, 189, 123));
    transition: .3s;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(133, 1, 1);
    width: 100%;
    height: 10%;
    position: fixed;
    text-align: start;
    z-index: 2;
}

nav img{
    width: 10%;
    height: 100%;
    object-fit: contain;
}

#evento{
    margin-top: 4%;
    height: 60%;
    
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(/image/natal-fundo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    object-fit: cover;
    
    /*animation: fundo_evento 10s linear infinite;*/
    transition: 0.6s;
    padding: 1rem;
}


#evento h1,
h2{
    color: rgb(255, 255, 255);
    animation: cor 10s linear infinite;

    font-size: 4rem;
    margin: 0;
    padding: 0;
}

#evento p{

    color: aliceblue;
    font-size: 2rem;
}

p {
    color: aliceblue;
}




@keyframes cor{
    0%{
        text-shadow: 5px 10px 5px goldenrod;
        transition: 0.6s;
    }
    50%{

        text-shadow: 5px 10px 5px rgb(240, 149, 149);
        transition: 0.6s;
    }
    100%{

        text-shadow: 5px 10px 5px green;
        transition: 0.6s;
    }
}


#Decorações{
    border: 2px solid;
    width: 100%;
    height: 100%;
}

.Comidas{

    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Bona Nova SC", serif;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}


#Cadastro{
    border: 2px solid;
    width: 100%;
    height: 100%;
}

.texto {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

#titulo-comidas {
    font-size: 10rem;
}

span {
    font-weight: bold;
}

@media(max-width:420px){
    .container{
        flex-direction: column;
        align-items: center;
        width: 100vh;
        height: 100vh;
    }
    a{
        text-decoration: none;
        color: white;
        font-size: 30px;
        /* letter-spacing: 2px; */
        transition: .3s;
        text-align: center;
        font-size: 10px;
        font-family: "Bona Nova SC", serif;
        /* font-weight: 700;*/
    }
    ul {
        display: flex;
        gap: 7px;
        flex-direction: row;
        padding: 0;
        align-items: center;
        margin: 0;
        /* width: 84%; */
        height: 100%;
    }
    nav img{
        width: 10%;
        height: 65%;
    }

    nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: rgb(133, 1, 1);
        width: 100%;
        height: 4%;
        position: fixed;
        text-align: start;
        align-self: stretch;
 
    }
    section {
        text-align: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        gap: 10px;
        /* margin-left: 15%; */
        padding: 0px 0px 0 0px;
        margin-top: 10%;
        margin: 9% 0 0 0;
    }

    #evento {
        height: 100%;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: url(/image/natal-fundo.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        /* animation: fundo_evento 10s linear infinite; */
        transition: 0.6s;
        padding: 1rem;
    }
    #evento h1,h2{
        color: rgb(255, 255, 255);
        animation: cor 10s linear infinite;
        transition: 0.6s;
        font-size: 3rem;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
    }
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgb(133, 1, 1);
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer li{
    list-style: none;
}

.info{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: start;
    align-items: center;
}

#lista{
    display: flex;
    flex-direction: column;
    width: 50%;

}


details{
    color: aliceblue;
    font-family: "Bona Nova SC", serif;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    background-color: rgb(133, 1, 1);
}

details ul{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    width: 100%;
    height: 100%;
    gap: 0;
}

details>summary {

    list-style: none;
  }
  summary::-webkit-details-marker {
    display: none;


  }

  details a{
    background-color: rgb(133, 1, 1);
  }